<div class="home-wrapper">

  <!-- filters-section -->
  <div class="filers-main">
    <div class="select-filter">
      <label for="drinkStyle">Filter by drink : </label>
      <select [(ngModel)]='drinkStyle' id="drinkStyle" name="drinkStyle">
        <option value="beer">Beer</option>
        <option value="cider">Cider</option>
      </select>
      <button type="button" (click)="onDrinkFilterClear()">Clear</button> &nbsp;
    </div>
    <div class="sorting-filter2">
      <label>Filter by price &nbsp;</label>
      <select [(ngModel)]='sortbyPrice'>
        <option value="cheaper">Cheaper</option>
        <option value="expensive">Expensive</option>
      </select>
      <button type="button" (click)="onPriceFilterClear()">Clear</button> &nbsp;
    </div>
    <div class="sorting-filter3">
      <label>Sort by &nbsp;</label>
      <select [(ngModel)]='sortbyParam'>
        <option value="price">Price</option>
        <option value="name">Name</option>
      </select>
      <button type="button" (click)="onSortDirection()">   
        <i class="fa fa-sort" aria-hidden="true"></i>
      </button>
      <!-- <button type="button" (click)="onParamFilterClear()">Clear</button> &nbsp; -->
    </div>
  </div>

  <!-- Product-details-section -->
  <div class="product-component">
    <product *ngFor="let product of products|filter: drinkStyle:'style'|sortPrice:['price', sortbyPrice]|sort:[sortbyParam, sortDirection]" [product]="product"></product>
  </div>
</div>