.home-wrapper{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 calc(10px + 0.35vw);
    
}

.filers-main{

    margin: 30px 0 10px;

    @media (min-width: 320px) and (max-width: 767px) {    
        grid-column: 2/12;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      
        grid-column: 2/12;
    }
  
    @media (min-width: 1280px){
        grid-column: 4/8;
    }
}

.sorting-filter2{
    margin: 10px 0;
}

.product-component{

    @media (min-width: 320px) and (max-width: 767px) {    
        grid-column: 2/12;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      
        grid-column: 2/12;
    }
  
    @media (min-width: 1280px){
        grid-column: 4/11;
    }
}

